table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 3px;
    text-align: right;
}

tr:nth-child(even) {
    background-color: rgb(233, 233, 233);
}

th {
    background-color: lightgreen;
}

#file {
    padding: 10px;
}

#button {
    padding: 10px;;
}

#data-table {
    padding-left: 10px;
    padding-right: 20px;
}